headless: false # cron などで動かす場合は'true'にする
id: "[契約者番号]"
password: "[ログインパスワード]"
accounts: 
  - "普通　[支店名] [口座番号]"
  - "定期　[支店名] [口座番号]"
save_to: "[保存先の絶対パス]"
file_name: "[保存するファイル名（省略時はJoyoBAS.xlsx）]"
